@model List<Apartment>

<div class="row row-cols-1 row-cols-md-2 g-4">
    @foreach (var apartment in Model)
    {

        <div class="col">
            <div class="card mb-3" data-detail-url="@Url.Action("Index", "Apartment", new { id = apartment.Id })">
                 <div id="carousel_@apartment.Id" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-inner">
                        @if (apartment.Images != null && apartment.Images.Any())
                        {
                            @for (int i = 0; i < apartment.Images.Count; i++)
                            {
                                <div class="carousel-item @(i == 0 ? "active" : "")">
                                    <img src="@Url.Action("Get", "Image", new { imageId = apartment.Images[i].ImageID })" class="d-block w-100" alt="@apartment.Title" loading="lazy" />
                                </div>
                            }
                        }
                        else
                        {
                            <div class="carousel-item active">
                                <img src="/images/placeholder.jpg" class="d-block w-100" alt="Нет фото" />
                            </div>
                        }
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carousel_@apartment.Id" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carousel_@apartment.Id" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
                <div class="card-body">
                    <h5 class="card-title">@apartment.Title</h5>
                    <p class="card-text">@apartment.Description</p>
                    <p class="card-text">Площадь: @apartment.Area м²</p>
                    <p class="card-text">Комнат: @apartment.RoomsCount</p>
                    <p class="card-text">Тип предложения: @apartment.OfferType</p>
                    <p class="card-text">Избранное: @(apartment.isFavorite ? "Да" : "Нет")</p>
                    <p class="card-text">Адрес: @apartment.Address.Country, @apartment.Address.City, @apartment.Address.Street, @apartment.Address.HouseNum</p>
                    <a asp-action="Edit" asp-route-id="@apartment.Id" class="btn btn-outline-warning">Edit</a>
                    <button class="btn btn-outline-danger delete-button" data-id="@apartment.Id" data-bs-toggle="modal" data-bs-target="#deleteModal">Delete</button>
                </div>
            </div>
        </div>
    }
</div>


@section Scripts {
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
}