@model REASite.Models.Apartment
@{
    ViewData["Title"] = "Create";
}


<h1>Create</h1>

<h4>ApartmentModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Title" class="form-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="form-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="form-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Floor" class="form-label"></label>
                <input asp-for="Floor" class="form-control" />
                <span asp-validation-for="Floor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RoomsCount" class="form-label"></label>
                <input asp-for="RoomsCount" class="form-control" />
                <span asp-validation-for="RoomsCount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Area" class="form-label"></label>
                <input asp-for="Area" class="form-control" />
                <span asp-validation-for="Area" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OfferType" class="control-label"></label>
                <select asp-for="OfferType" class="form-control">
                    @foreach (var type in Enum.GetValues(typeof(OfferTypeEnum)).Cast<OfferTypeEnum>())
                    {
                        <option value="@type">@type.GetDisplayName()</option>
                    }
                </select>
                <span asp-validation-for="OfferType" class="text-danger"></span>
            </div>
            <h4>Удобства</h4>
            <div class="form-group">
                @foreach (var comfort in Enum.GetValues(typeof(ComfortEnum)).Cast<ComfortEnum>())
                {
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" name="Comforts" value="@((int)comfort)"
                        @(Model.ApartmentComforts.Any(ac => ac.Comfort == comfort) ? "checked" : "") />
                        <label class="form-check-label">@comfort.GetDisplayName()</label>
                    </div>
                }
            </div>

            <h4>Адрес</h4>
                @* <div class="form-group">
                    <label for="addressinput">адрес (автодополнение)</label>
                    <input type="text" id="addressinput" class="form-control" />
                </div> *@
            <div class="form-group">
                <label asp-for="Address.Street" class="form-label"></label>
                <input asp-for="Address.Street" class="form-control" />
                <span asp-validation-for="Address.Street" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address.City" class="form-label"></label>
                <input asp-for="Address.City" class="form-control" />
                <span asp-validation-for="Address.City" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address.HouseNum" class="form-label"></label>
                <input asp-for="Address.HouseNum" class="form-control" />
                <span asp-validation-for="Address.HouseNum" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address.Country" class="form-label"></label>
                <input asp-for="Address.Country" class="form-control" />
                <span asp-validation-for="Address.Country" class="text-danger"></span>
            </div>
            <h4>Изображения</h4>
            <div class="form-group">
                <label for="images">Загрузить изображения</label>
                <input type="file" name="images" multiple class="form-control" />
            </div>

            <div class="form-group">
                <input type="submit" value="Создать" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>
@section Scripts {
    @{
        // <script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU&apikey=0f52e9c6-8579-4a7e-90da-76fefedfd8a2" type="text/javascript"></script>
        // <script>
        //     ymaps.ready(function () {
        //         var suggestView = new ymaps.SuggestView('addressInput');
        //         suggestView.events.add('select', function (e) {
        //             var selectedItem = e.get('item');
        //             var selectedValue = selectedItem.value;
        //             ymaps.geocode(selectedValue).then(function (res) {
        //                 var geoObject = res.geoObjects.get(0);
        //                 if (geoObject) {
        //                     var country = geoObject.getCountry();
        //                     var city = geoObject.getLocalities()[0];
        //                     var street = geoObject.getThoroughfare();
        //                     var houseNum = geoObject.getPremiseNumber();
        //                     document.getElementById('Address_Country').value = country || '';
        //                     document.getElementById('Address_City').value = city || '';
        //                     document.getElementById('Address_Street').value = street || '';
        //                     document.getElementById('Address_HouseNum').value = houseNum || '';
        //                 }
        //             });
        //         });
        //     });
        // </script>
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

